<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <label for="name">Nombre de Usuario:</label>
    <input type="text" id="name" formControlName="name" required>

    <label for="age">Edad:</label>
    <input type="age" id="age" formControlName="age" required>

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required>

    <button type="submit" class="button add-button">Registrar Usuario</button>
  </form>
</div>
